/*=============== VARIABLES CSS ===============*/
:root {
  /*========== FONT WEIGHT ==========*/
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;

  /*========== COLORS ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --primary-nutmeg: hsl(14, 45%, 36%);
  --primary-darkraspberry: hsl(332, 51%, 32%);
  --secondary-white: hsl(0, 0%, 100%);
  --secondary-rosewhite: hsl(330, 100%, 98%);
  --secondary-eggshell: hsl(30, 54%, 90%);
  --secondary-lightgrey: hsl(30, 18%, 87%);
  --secondary-wengebrown: hsl(30, 10%, 34%);
  --secondary-darkcharcoal: hsl(24, 5%, 18%);

  /*========== FONTS ==========*/
  --font-young: "Young Serif", serif;
  --font-outfit: "Outfit", sans-serif;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--secondary-wengebrown);
  font-size: 1rem;
  background-color: var(--secondary-eggshell);
  display: grid;
  place-content: center;
  min-block-size: 100vh;
}

main {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-family: var(--font-outfit);
}

section {
  margin: 1rem;
  width: 100%;
  padding: 1rem;
}

hr {
  color: var(--secondary-lightgrey);
  opacity: 0.3;
  margin: 1.5rem 0 1.5rem 0;
}

/*=============== CONTENT ===============*/

.recipe-container {
  padding-top: 7rem;
}

.recipe {
  max-width: 42rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: var(--secondary-white);
}

.recipe-img {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 2.5rem;
}

.recipe-title {
  color: var(--secondary-darkcharcoal);
  font-family: var(--font-young);
  margin-bottom: 2rem;
  font-weight: var(--font-regular);
  font-size: 2.25rem;
}

.recipe-text {
  font-weight: var(--font-regular);
  font-size: 0.9rem;
}

/*========= PREPARATION =========*/

.recipe-prep {
  background-color: var(--secondary-rosewhite);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  margin-left: 0;
  line-height: 2;
}

.recipe-prep ul {
  font-size: var(--font-regular);
}

.recipe ul li::marker {
  font-size: 0.7rem;
  color: var(--primary-nutmeg);
}

.recipe-prep-title {
  color: var(--primary-darkraspberry);
  margin-left: -1rem;
  font-size: 1rem;
  font-weight: var(--font-semibold);
}

/*========= INGREDIENTS =========*/
.recipe-ingredients {
  line-height: 2;
}
.recipe ul li {
  padding-left: 1rem;
}
.recipe-sec-title {
  font-family: var(--font-young);
  margin-left: -1.2rem;
  font-size: 1.55rem;
  font-weight: var(--font-regular);
  margin-bottom: 1.2rem;
  color: var(--primary-nutmeg);
}

/*========= INSTRUCTIONS =========*/
.recipe-instructions ol li {
  padding: 0 0 0.5rem 1rem;
  font-size: 0.95rem;
  margin-left: 0.3rem;
}

.recipe-instructions ol li::marker {
  color: var(--primary-nutmeg);
  font-weight: var(--font-semibold);
  font-family: var(--font-outfit);
}

/*========= NUTRITION =========*/
.recipe-nutri-text {
  margin-left: -1.2rem;
}
.recipe-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 0.5rem;
}

.recipe-table tr td {
  padding: 0.75rem;
}

tr:nth-child(1),
tr:nth-child(2),
tr:nth-child(3) {
  border-bottom: 1px solid var(--secondary-lightgrey);
}

tr:last-child {
  border-bottom: none;
}

.recipe-table-values {
  color: var(--primary-nutmeg);
  font-weight: var(--font-bold);
}
/*=============== FOOTER ===============*/
.attribution {
  margin-top: 1.5rem;
  font-size: 0.7rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media all and (max-width: 680px) {
  .recipe-container {
    padding-top: 0;
  }

  .recipe {
    padding: 0 2rem 0 2rem;
    border-radius: 0;
    margin: 0;
    overflow-x: hidden;
  }

  .recipe-img {
    border-radius: 0;
    margin: -2rem;
    margin-bottom: 2.5rem;
  }
}
