/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== FONT WEIGHT ==========*/
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;

  /*========== COLORS ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --primary-nutmeg: hsl(14, 45%, 36%);
  --primary-darkraspberry: hsl(332, 51%, 32%);
  --secondary-white: hsl(0, 0%, 100%);
  --secondary--rosewhite: hsl(330, 100%, 98%);
  --secondary--eggshell: hsl(30, 54%, 90%);
  --secondary--lightgrey: hsl(30, 18%, 87%);
  --secondary--wengebrown: hsl(30, 10%, 34%);
  --secondary--darkcharcoal: hsl(24, 5%, 18%);

  /*========== FONTS ==========*/
  --font-young: "Young Serif", serif;
  --font-outfit: "Outfit", sans-serif;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 375px;
  font-size: 16px;
  background-color: var(--secondary--eggshell);
  display: grid;
  place-content: center;
  min-block-size: 100vh;
}

main {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
  font-family: var(--font-outfit);
}

section {
  margin: 1.5rem;
  width: 100%;
}

/*=============== CONTENT ===============*/

.recipe-container {
  border: 2px solid red;
  padding-top: 7rem;
}

.recipe {
  border: 2px solid green;
  width: 42rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: var(--secondary-white);
}

.recipe-img {
  width: 38rem;
  border-radius: 0.5rem;
  margin-bottom: 2.5rem;
}

.recipe-title {
  font-family: var(--font-young);
  margin-bottom: 2rem;
  font-weight: var(--font-regular);
}

.recipe-text {
  font-weight: var(--font-regular);
  font-size: 0.9rem;
}

.recipe-prep {
  border: 1px solid greenyellow;
  background-color: var(--secondary--rosewhite);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  margin-left: 0;
  line-height: 2rem;
}

.recipe-prep ul {
  font-size: small;
}

.recipe-prep-title {
  color: var(--primary-darkraspberry);
  margin-left: -1rem;
  font-size: 1rem;
  font-weight: var(--font-semibold);
}
/*=============== FOOTER ===============*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
